spring:
  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: test-group
      auto-offset-reset: earliest
    producer:
      acks: all

  datasource:
    url: jdbc:postgresql://localhost:5432/jobdb
    username: postgres
    password: password

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true

kafka:
  topics:
    jobs:
      fast: test.jobs.fast
      long: test.jobs.long
      dlq: test.jobs.dlq